<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="timeStamp" datePattern="yyyyMMdd'T'HHmm"/>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/.scala/logs/log.${timeStamp}.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%-5p: %d{ISO8601} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5p: %d{ISO8601} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <logger name="akka" level="OFF" additivity="false">
        <appender-ref ref="file"/>
    </logger>
    <logger name="org" level="OFF" additivity="false">
        <appender-ref ref="file"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="file"/>
    </root>
</configuration>